<!DOCTYPE html>
<html lang="en">

<head>
	<title>Public</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'MainApp/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
		a.custom-card,
		a.custom-card:hover {
		  color: inherit;
		  opacity: 0.5;
		  filter: alpha(opacity=50); /* For IE8 and earlier */
		}
		img.custom-hover:hover{
		    opacity: 0.7;
		    filter: alpha(opacity=50); /* For IE8 and earlier */
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<!-- START NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
		<div class="container">
		  <a class="navbar-brand" href="#">PublicTransport</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Link</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Dropdown
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Action</a>
		          <a class="dropdown-item" href="#">Another action</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Something else here</a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#">Disabled</a>
		      </li>
		    </ul>
		    <!-- <form class="form-inline my-2 my-lg-0" action="/login/"> -->
		      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
		      <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> -->
		      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
		    <!-- </form> -->
		    <form action="/login/">
		    	<button type="submit" class="btn btn-outline-primary">Login</button>
		    </form>
		  </div>
	    </div>
	</nav> 
	<!-- END NAVBAR -->

	

	<!-- MAIN STUFF -->

	<div class="container container-fluid mt-4" style="min-height:95%; ">
		<!-- <div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Programming, Entrepreneurship</h3>
				  </center>
			  </div>
		</div><hr> -->

		<!-- <div class="jumbotron">
		  <h1 class="display-4">Hello, world!</h1>
		  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		  <hr class="my-4">
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div> -->

	   	{% block content %}
		{% endblock %}
		<!-- <div class="row">
			LEFT NAV
		  <div class="col-sm-2">
		  <br><br>
			<nav class="nav flex-column nav-pills nav-justified" aria-orientation="vertical">
			  <a class="nav-item nav-link active" data-toggle="pill" href="/">Home</a>
			  <a class="nav-item nav-link" data-toggle="pill" href="/blog/">Blog</a>
			  <a class="nav-item nav-link" data-toggle="pill" href="/contact/">Contact</a>
			  <a class="nav-link disabled" href="#">Disabled</a>
			</nav>
		  </div> 
		  <div class="col-sm-10">
			<div class='container-fluid'>
			<br><br>
			BLOCK CONTENT
			</div>
		  </div>
		</div>  -->
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>