{% extends "MainApp/header.html" %}

{% block content %}

	<div class="row">

	{% load staticfiles %}
	{% for category in all_categories %}
		<div class="card bg-dark mb-3 mx-auto" style='width: 32rem;'>
		  <img class="card-img-top custom-hover" src="{% static '/MainApp/img/subway0.jpg' %}" alt="Card image cap" >
		  <div class="card-body ">
		    <h5 class="card-title"><a class="card-link"style="color: white;" href="/schedule_list/{{category.id}}">{{category.name}}</a></h5>
		    <p class="card-text">{{category.descriptions}}</p>
		    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
		  </div>
		</div>
	{% endfor %}
	</div> 
	
{% endblock %}