{% extends "MainApp/shoppingcart.html" %}
{% block head %}

<div class="header">
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #599ff9;">
		    <div class="container">
			    <a class="navbar-brand text-white" href="/" style="font-size: 32px;font-family: Copperplate Gothic;font-weight: bold;">Enterprise</a>

			    <div class="" id="navbarNavDropdown">
			        <ul class="navbar-nav">

				        <li class="nav-item">
				        	<a class="nav-link text-white" href="/map/">Map</a>
				        </li>

				        <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Login
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					          	<form id="login">
					                <div class="container-fluid" style="width: 300px">
					                	<form action =  method = "post">
					                	Username:<br> <input type="text" class="form-control" name="username"><br>
					                	Password:<br> <input type="password" class="form-control" name="password"><br>
					                	<a href="/profile/" style="background-color: #599ff9;" class="btn btn-block" name="login" value ="Login">
					                		Login
					                	</a><br>
					                	<div class="bottom text-center">
					                		New here ? <a href="/register/"><b>Sign Up</b></a>
					                	</div>
					                </div>
					          	</form>
					        </div>
				        </li>
			        </ul>
			    </div>
			</div>
		</nav>
	</div>

{% endblock %}
{% block content %}
	{% load staticfiles %}

	<style type="text/css">
		a.custom-card,
		a.custom-card:hover {
		  color: inherit;
		}
		.wisata,
		.wisata:hover {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.cont{
			justify-content: center;
			width: 1366px !important;
		}
	</style>

	<div id="carouselExampleIndicators" class="carousel slide shadow-lg mt-3" data-ride="carousel" style="width: 100%; height: 600px;">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="{% static 'MainApp/img/promo1.jpg' %}" alt="First slide" style="object-fit: cover;height: 600px;">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="{% static 'MainApp/img/promo2.png' %}" alt="Second slide" style="object-fit: cover;height: 600px;">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="{% static 'MainApp/img/promo3.jpg' %}" alt="Third slide" style="object-fit: cover; height: 600px;">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="{% static 'MainApp/img/promo4.jpg' %}" alt="Fourth slide" style="object-fit: cover; height: 600px;">
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

	<section class="container-fluid mt-5 mb-3" id="about">
      <div class="container">
        <div class="row">
          <div class="mx-auto text-center">
            <h2 class="section-heading">Pilih Transportasi</h2>
          </div>
        </div>
      </div>
    </section>
    <hr class="light my-8">
	<div class="row">
		{% for category in all_categories %}
		<div class="col-4 d-flex align-items-stretch" align="center">
			<div class="custom-card d-flex align-items-stretch" style="width: 32rem;" align="left">
				<!-- /schedule_list/{{category.id}} -->
				<a href="/schedule_list/{{category.id}}" id="cate{{category.id}}" class="card card-link bg-light mb-3 ">
				    {% if category.name == "Bus" %}
				    <img class="card-img-top" src="{% static 'MainApp/img/bus0.jpg' %}" alt="Card image cap">
				    {% elif category.name == "Pesawat" %}
				    <img class="card-img-top" src="{% static 'MainApp/img/pesawat0.jpg' %}" alt="Card image cap">
				    {% elif category.name == "Kereta" %}
				    <img class="card-img-top" src="{% static 'MainApp/img/kereta_ilustrasi.jpg' %}" alt="Card image cap">
				    {% endif %}
				    <div class="card-body" style=" color: black;">
					    <h5 class="card-title">{{category.name}}</h5>
					    <p class="card-text">{{category.descriptions}}</p>
				    </div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="card container-fluid shadow-lg rounded" style="width: 100%;">
		<!-- <div class="container"> -->
			<form class="mt-3 mb-3" action="#" method="GET">
				<div class="form-row">
					
					<div class="form-group col-2">
				      <h5 for="inputFrom"><i class="material-icons" style="font-size:20px">place</i>Dari</h5>
				      <select id="inputFrom" class="form-control">
				      	{% for city in all_cities %}
				        	<option selected>({{city.code_name}}){{city.name}}</option>
				        {% endfor %}
				      </select>
				    </div>
				    <div class="form-group col-2">
				      <h5 for="inputTo"><i class="material-icons" style="font-size:20px">place</i>Ke</h5>
				      <select id="inputTo" class="form-control">
				        {% for city in all_cities %}
				        	<option selected>({{city.code_name}}){{city.name}}</option>
				        {% endfor %}
				      </select>
				    </div>
				    <div class="form-group col-2">
				    	<h5><i class="material-icons" style="font-size:20px">access_time</i>Waktu</h5>
				    	<input id="datepicker" placeholder="mm/dd/yyyy"/>
					    <script>
					        $('#datepicker').datepicker({
					            uiLibrary   : 'bootstrap4',
					            "setDate"   : new Date(),
        						"autoclose" : true
					        });
					    </script>
				    </div>
				    <div class="form-group col-2">
						<h5><i class="material-icons"style="font-size:20px">accessibility</i>Penumpang</h5>
						<input class="form-control" type="number" value="1" id="example-number-input">
					</div>
					<div class="form-group col-4 mt-4" align="center">
			    		<a href="/schedule_list/3" class="btn btn-primary" style="width: 100%;height: 90%; margin-top: 6px;">Cari</a>
			    	</div>
			    </div>
			</form>
	</div>
{% endblock %}

{% block footer %}
<!-- FOOTER -->
<div class="cont mx-auto mb-5">
<div style="margin-top: 128px;">
<section class=" mt-5" id="fdetail" >
	<div class="row">
	    <div class="mx-auto" style="width: 100%;">
		<h2 class="section-heading" style="text-align: center;">Daftar Promo</h2>
	    <hr class="light my-8">

		<div class="d-flex  my-flex-container">
		    <div class="p-2 my-flex-item" style="width: 40%; height:100%; margin: 10px;">
		    	<div class="news">
					<img src="{% static 'MainApp/img/thumb1.jpg' %}" name="newsimg" class="image">
					<div class="desc" style=" height: 100%; object-fit: cover">Promo</div>
					<div class="overlay">
						<div class="btn newsdesc" style="background-color: orange;">Detail Promo</div>
					</div>
				</div>
		    </div>
		    <div class="p-2 my-flex-item" style="width: 40%; height:100%; margin: 10px;">
		    	<div class="news">
					<img src="{% static 'MainApp/img/thumb2.jpg' %}" name="newsimg" class="image">
					<div class="desc" style=" height: 100%; object-fit: cover">Promo</div>
					<div class="overlay">
						 <div class="btn newsdesc" style="background-color: orange;">Detail Promo</div>
					</div>
				</div>
		    </div>
		    <div class="p-2 my-flex-item" style="width: 40%; height:100%; margin: 10px;">
		    	<div class="news">
					<img src="{% static 'MainApp/img/thumb3.jpg' %}" name="newsimg" class="image">
					<div class="desc" style=" height: 100%; object-fit: cover">Promo</div>
					<div class="overlay">
						 <div class="btn newsdesc" style="background-color: orange;">Detail Promo</div>
					</div>
				</div>
		    </div>
		</div>

		</div>
		</div>
		</section>
	</div>
	
	<h1 class="section-heading mt-5" style="text-align: center;">Wisata Populer</h1>
	<hr class="light my-8">
	<div class="mb-5" align="center">
		<div class="row">
			<div class="row mb-3">
				<div class="col-4 d-flex align-items-stretch">
					<div class="card bg-dark text-white">
					  <img class="card-img" style="height:240px;object-fit: cover;" src="{% static 'MainApp/img/Bedugul.jpg' %}" alt="Card image">
					  <div class="card-img-overlay">
					    <h3 class="card-title" align="left">Bali<br>Bedugul</h3>
					  </div>
					</div>
				</div>
				<div class="col-4 d-flex align-items-stretch">
					<div class="card bg-dark text-white">
					  <img class="card-img" style="height:240px;object-fit: cover;" src="{% static 'MainApp/img/raja_ampat.jpg' %}" alt="Card image">
					  <div class="card-img-overlay">
					    <h3 class="card-title" align="left">Papua<br>Raja Ampat</h3>
					  </div>
					</div>
				</div>
				<div class="col-4 d-flex align-items-stretch">
					<div class="card bg-dark text-white">
					  <img class="card-img" style="height:240px;object-fit: cover;" src="{% static 'MainApp/img/candi-borobudur.jpg' %}" alt="Card image">
					  <div class="card-img-overlay">
					    <h3 class="card-title" align="left">Jawa Tengah<br>Candi Borobudur</h3>
					  </div>
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-4 d-flex align-items-stretch">
					<div class="card bg-dark text-white">
					  <img class="card-img" style="height:240px;object-fit: cover;" src="{% static 'MainApp/img/fuji.jpg' %}" alt="Card image">
					  <div class="card-img-overlay">
					    <h3 class="card-title" align="left">Jepang<br>Gunung Fuji</h3>
					  </div>
					</div>
				</div>
				<div class="col-4 d-flex align-items-stretch">
					<div class="card bg-dark text-white">
					  <img class="card-img" style="height:240px;object-fit: cover;" src="{% static 'MainApp/img/merlion.jpg' %}" alt="Card image">
					  <div class="card-img-overlay">
					    <h3 class="card-title" align="left">Singapura<br>Merlion</h3>
					  </div>
					</div>
				</div>
				<div class="col-4 d-flex align-items-stretch">
					<div class="card bg-dark text-white">
					  <img class="card-img" style="height:240px;object-fit: cover;" src="{% static 'MainApp/img/venezia.jpg' %}" alt="Card image">
					  <div class="card-img-overlay">
					    <h3 class="card-title" align="left">Italy<br>Venezia</h3>
					  </div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<section class="" id="fdetail">
		<div class="row mt-5">
		    <div class="" style="width: 100%;">
				<h2 class="section-heading" style="text-align: center;">Servis Kami</h2>
			    <hr class="light my-8">
			    <div class="d-flex  my-flex-container">
				    <div class="p-2 my-flex-item" style="width: 100%; margin: 10px;">
						 <ul class="list-unstyled"">
							<li class="media">
							  <img class="mr-2" src="{% static 'MainApp/img/point.png' %}" alt="Generic placeholder image" style="width: 150px; height: 150px;">
							  <div class="media-body">
							    <h5 class="mt-0">Pergi Ke Berbagai Macam Tempat</h5>
							    Dengan banyaknya jenis kendaraan yang kami sediakan kami juga memberikan pilihan perjalanan terbaik ke tempat tempat wisata terbaik se-Indonesia.
							  </div>
							 </li>

							<li class="media my-4">
							  <img class="mr-2" src="{% static 'MainApp/img/safe.png' %}" alt="Generic placeholder image" style="width: 150px; height: 150px;">
							  <div class="media-body">
							    <h5 class="mt-0">Kenyamanan Dalam Perjalanan</h5>
							    Para pengendara kami sudah terlatih dan tentunya memberi kenyamanan dari segi pelayanan perjalanan dan juga fasilitas. Membuat anda betah dalam perjalanan yang jauh dan aman.
							  </div>
							 </li>

							<li class="media">
							  <img class="mr-2" src="{% static 'MainApp/img/price.png' %}" alt="Generic placeholder image" style="width: 150px; height: 150px;">
							  <div class="media-body">
							    <h5 class="mt-0">Harga yang Terjangkau</h5>
							   	Transaksi di tempat kami menggunakan harga terbaik dan tentunya banyak promo-promo yang akan membuat harga perjalanan anda lebih terjankau. Memberi kesempatan kepada anda untuk pergi ke tempat-tempat yang belum pernah anda kunjungi.
							  </div>
						 	</li>
						</ul>
				    </div>
				    <div class="p-2 my-flex-item mt-5" style="width: 100%; margin: 10px;">
				    	<img class="" src="{% static 'MainApp/img/indo.png' %}" alt="Generic placeholder image" style=" object-fit: cover;width: 100%;">
				    </div>
				</div>	   
			</div>
		</div>
	</section>
</div>
<div id="footer" class="page-footer font-small blue pt-4" style="background-color: #599ff9;">
	<div class="container-fluid text-center text-md-left">
	    <div class="container">
	        <div class="row" style="color: white;">
	        <div class="col-6 mt-md-0 mt-3">
	            <h5 class="text-uppercase">Tentang Kami</h5>
	            <p>Menjawab Kebutuhan Transportasi anda, Banyak pilihan, Aman & Terpercaya. Kami juga menyediakan promo-promo yang dapat membuat harga perjalanan anda lebih hemat.</p>
	        </div>

	        <div class="col-6">
	            <h5 class="text-uppercase">Hubungi Kami</h5>
	            <ul class="list-unstyled">
	              <li>
	                <a>Email: enterprise@gmail.com</a>
	              </li>
	              <li>
	                <a>Telephone: 0541-6548129426</a>
	              </li>
	            </ul>
	        </div>
	    
	        </div>
	    </div>
	    <div class="footer-copyright text-center py-3"style="color: white;">© 2018 Copyright:
	      Enterprise team.
	    </div>
  	</div>
</div>
<!-- FOOTER END -->
{% endblock %}