{% extends "MainApp/header.html" %}

{% block content %}

	<div class="row">
		<!-- LEFT NAV -->
	  <div class="col-sm-2">
	  <br><br>
		<nav class="nav flex-column nav-pills nav-justified" aria-orientation="vertical">
		  <a class="nav-item nav-link" data-toggle="pill" href="/">Home</a>
		  <!-- <a class="nav-item nav-link" data-toggle="pill" href="/blog/">Blog</a> -->
		  <a class="nav-item nav-link" data-toggle="pill" href="/contact/">Contact</a>
		  <!-- <a class="nav-link disabled" href="#">Disabled</a> -->
		</nav>
	  </div> <!--col-sm-2-->
	  <div class="col-sm-10">
		<div class='container-fluid'>
		<br><br>
			<!-- BLOCK CONTENT -->
			{% load staticfiles %}
		    {% for schedule in all_schedule %}
		        <div class="card mb-3">
				  <img href="#" class="card-img-top custom-hover" src="{% static '/MainApp/img/subway0.jpg' %}" alt="Card image cap" >
				  <div class="card-body" href="#">
				    <h5 class="card-title"><a href="/home/{{category.id}}">{{schedule.transportation_id.name}}</a></h5>
				    <p class="card-text">From {{schedule.place_from_id}} To {{schedule.place_destination_id}}, At {{schedule.date_time}}</p>
				    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
		    {% endfor %}
		</div>
	  </div>
	</div> 

{% endblock %}