<html>
<head>
    <title>IMK</title>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkXET2qeGgLJOS6BR23VZLIgalJk4zxDo"></script>

  <style type="text/css">

  #map 
  {
    height: 60%;
  }
    body {
        font: arial;
        text-decoration: none;
        margin:0;
        padding:0;
        height:100%;
    }
    a{
      color: white;
    }

    /***** HOME CONTENT *****/
  
    .header
    {
      text-decoration-style: none;
    }
    span{
        font-size:15px;
    }
    .box{
        padding:60px 0px;

        background-color: #2a2b2d;
    }
    .box-part{
        background:#FFF;
        border-radius:0;
        padding:60px 10px;
        margin:30px 0px;
    }
    .text{
        margin:20px 0px;
    }

    .fa{
         color:#ffffff;
    }
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
    .c_image_size{
      width: 100%;
      height: 600px;
    }
  </style>

    

  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #599ff9;">
        <div class="container">
          <a class="navbar-brand" href="/">Entrerprise</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link" href="/map/">Map</a>
                </li>

                <li class="nav-item dropdown" style="margin-left: 900px;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <form id="login">
                          <div class="container" style="width: 300px">
                          <form action =  method = "post">
                          Username:<br> <input type="text" class="form-control" name="username"><br>
                          Password:<br> <input type="password" class="form-control" name="password"><br>
                          <input type="submit" style="background-color: #599ff9;" class="btn btn-block" name="login" value ="Login"><br>
                          <div class="bottom text-center">
                          New here ? <a href=" "><b>Join Us</b></a>
                          </div>
                          </div>
                      </form>
                  </div>
                </li>

              </ul>
          </div>
      </div>
    </nav>
  
<div class="container">
  <h2 class="mt-3 mb-3">Surabaya City Map</h2>
<div class="mt-3 mb-3" id="map">

    <script>
        function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(   -7.339525613976915, 112.7377291865082),
          zoom: 16
        });
        var infoWindow = new google.maps.InfoWindow;
        }



      function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
          if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request, request.status);
          }
        };

        request.open('GET', url, true);
        request.send(null);
      }

      function doNothing() {}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkXET2qeGgLJOS6BR23VZLIgalJk4zxDo&callback=initMap">
    </script>
</div>
</div>
</body>
<div id="footer" class="page-footer font-small blue pt-4" style="background-color: #599ff9;">
  <div class="container-fluid text-center text-md-left">
      <div class="container">
          <div class="row" style="color: white;">
          <div class="col-6 mt-md-0 mt-3">
              <h5 class="text-uppercase">Tentang Kami</h5>
              <p>Menjawab Kebutuhan Transportasi anda, Banyak pilihan, Aman & Terpercaya. Kami juga menyediakan promo-promo yang dapat membuat harga perjalanan anda lebih hemat.</p>
          </div>

          <div class="col-6">
              <h5 class="text-uppercase">Hubungi Kami</h5>
              <ul class="list-unstyled">
                <li>
                  <a>Email: enterprice@gmail.com</a>
                </li>
                <li>
                  <a>Telephone: 0541-6548129426</a>
                </li>
              </ul>
          </div>
      
          </div>
      </div>
      <div class="footer-copyright text-center py-3"style="color: white;">© 2018 Copyright:
        Enterprise team.
      </div>
    </div>
</div>
</html>