{% extends "MainApp/header.html" %}

{% block content %}
	<!-- CONTENT -->
	<div class="card mt-3">
		<div class="container-fluid" style="min-height:100%; padding-top: 5%;">
	        <div class="row">
	          	<div class=" mx-auto">
	            	<h2 class="section-heading">Fill Your Details</h2>
	            	<div class="light my-8 mb-4" >
				        <form action="/register/" method="POST" style="display:inline;">
	            		{% csrf_token %}
					 	<div class="form-row">
						    <div class="col-md-6 mb-3">
						      <label>First name</label>
						      <input type="text" class="form-control" id="firstname1" name="firstname" placeholder="First name" value="" required>
						    </div>
						    <div class="col-md-6 mb-3">
						      <label>Last name</label>
						      <input type="text" class="form-control" id="lastname1" name="lastname" placeholder="Last name" value="" required>
						    </div>
						  </div>
						  <div class="form-group">
						    	<label for="exampleInputPassword1">Password</label>
						    	<input type="password" class="form-control" name="password" id="password" placeholder="Password">
						  </div>
						  <div class="form-row">
						  	<div class="col-md-4 mb-3">
						      <label>Gender</label>
						      <div class="input-group">
						        <div class="custom-control custom-radio">
								  <input type="radio" id="gender1" name="gender" class="custom-control-input">
								  <label class="custom-control-label" for="gender1">Male</label>&nbsp&nbsp
								</div>
								<div class="custom-control custom-radio">
								  <input type="radio" id="gender2" name="gender" class="custom-control-input">
								  <label class="custom-control-label" for="gender2">Female</label>
								</div>
						      </div>
						    </div>
						  </div>
						
						  	<div class="form-row">
							    <div class="form-group">
								    <label for="exampleInputEmail1">Email address</label>
								    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
								    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>						  
						   	</div>

						   <div class="form-row">
						    <div class="col-md-6 mb-3">
						      <label>Handphone</label>
						      <input type="number"  data-bind="value:replyNumber" min=0 class="form-control" id="validationTooltip03" placeholder="Handphone number" required>
						    </div>
						  </div> 

						  <div class="form-group">
						    <div class="form-check">
						      <input class="form-check-input" type="checkbox" value="" id="terms" required>
						      <label class="form-check-label">
						        Agree to terms and conditions
						      </label>
						    </div>
						  </div>

						  	<button class="btn btn-primary col-md-6" name="submitButton" type="submit" value="1">
						  		Submit
							</button>

						</form>
						<form action="/register/" method="POST" class="form-group" style="padding-left:5%; position: absolute;display:inline;">
							{% csrf_token %}
						    <button class="btn btn-warning" style="color: white;" name="cancelButton" type="submit" value="1">
						    	Cancel
							</button>
						</form>
					</div>
	            </div>
	        </div>
		</div>
	</div>
{% endblock %}