{% extends "MainApp/header.html" %}

{% block content %}

{% load staticfiles %}
<section class="container-fluid" id="fdetail">
    <div class="row mt-3">
    	<div class="mx-auto"  style="width: 80%;">
			<h2 class="section-heading" style="text-align: center;">Flight Details</h2>
    		<hr class="light my-8">

	    	<div class="card">
			  <div style="font-size: 20px;">
			  &nbsp &nbsp &#9992; JKT &#8594; BDG 
			  <hr class="light my-8">
			  </div>
			  <div class="card-body" >
			  	
			  	
			  	<div class="row">
			  	<div class="col-6">
			  	<h6 style="color:#808080;"> Plane </h6>
			  	<!-- taro logo -->
			    <h6>Lion Air</h6>
			    <h6>(QZ-354)Economy</h6>
			  	</div>
			  	
			  	<div class="col-6">
			  	<h6 style="color:#808080;"> Flight Schedule </h6>
			    <h6>Date: 06-11-2018</h6>
			    <h6>🕘 22.15-01.16</h6>
			    <h6>🛄 Luggage: 20 Kg</h6>
			    <h6>Duration: 3 Hours</h6>
			  	</div>
			  	</div>
			  </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}