{% extends "MainApp/header.html" %}

{% block content %}

{% load staticfiles %}
<section class="container-fluid" id="fdetail">
    <div class="row mt-5">
    	<div class="col-7 mb-3">
			<h4 class="section-heading">Detail Pesanan</h4>
    		<!-- <hr class="light my-8"> -->
    		{% for s in schedule %}
	    	<div class="card">
			  <div style="font-size: 20px;" class="ml-4 mt-3">
			  	&#9992; {{s.place_from_id.city.name}} ({{s.place_from_id.city.code_name}}) &#8594; {{s.place_destination_id.city.name}} ({{s.place_destination_id.city.code_name}})
			  </div>
			  <hr class="light my-8">
			  <div class="card-body" >
			  	
			  	<div class="row">
			  	<div class="col-6">
			  	<h6 style="color:#808080;"> Plane </h6>
			  	<!-- taro logo -->
			    <h6>Lion Air</h6>
			    <h6>(QZ-354)Economy</h6>
			  	</div>
			  	
			  	<div class="col-6">
			  	<h6 style="color:#808080;"> Flight Schedule </h6>
			    <h6>Date: 06-11-2018</h6>
			    <h6>🕘 22.15-01.16</h6>
			    <h6>🛄 Luggage: 20 Kg</h6>
			    <h6>Duration: 3 Hours</h6>
			  	</div>
			  	</div>
			  </div>
			</div>

			<h4 class="section-heading mt-5">Detail Transportasi</h4>
    		<!-- <hr class="light my-8"> -->

	    	<div class="card">
			  <div style="font-size: 20px;" class="row ml-4 mt-3">
			  	<div class="col-2">
			  		<img style="width: 100%; object-fit: cover;" src="{{s.transportation_id.logo}}">
			  	</div>
			  	<div class="col-10 mt-auto mb-auto">
			  		{{s.transportation_id.name}}
			  	</div>
			  </div>
			  <hr class="light my-8">
			  <div class="card-body" >
			  	<div class="row">
			  		<div class="col-12 mx-auto">
			  			<img src="{{s.transportation_id.image}}" style="width: 100%; object-fit: cover;">
			  		</div>
				  	<div class="col-12 ml-3 mr-3 mt-4">
					  	<h6 style="color:#808080;"> Deskripsi </h6>
					  	<p>{{s.transportation_id.description}}</p>
				  	</div>
				  	<div class="col-6 mt-4">
				  		<div class="" align="center">
				  			<img src="https://citilinkstorage.blob.core.windows.net/citilink/images/default-source/Fleet-Images/ico2.png">
				  			<div style="color: gray; font-size: 12px;" class="mt-2">Kecepatan</div>
				  			<h5 style="color: green;">{{s.transportation_id.speed}}.00km/h</h5>
				  		</div>
				  	</div>
				  	<div class="col-6 mt-4">
				  		<div class="" align="center">
				  			<img src="https://citilinkstorage.blob.core.windows.net/citilink/images/default-source/Fleet-Images/ico4.png" class="ml-auto mr-auto">

				  			<div style="color: gray; font-size: 12px;" class="mt-2">Kapasitas Bahan Bakar</div>
				  			<h5 style="color: green;">24.210 liter</h5>
				  		</div>
				  	</div>
				  	<div class="col-12 mt-4">
				  		<div class="" align="center">
				  			<img src="https://citilinkstorage.blob.core.windows.net/citilink/images/default-source/Fleet-Images/ico6.png" style="height: 100%;">
				  			<div style="color: gray; font-size: 12px;" class="mt-2">Menampung Hingga</div>
				  			<h5 style="color: green;">{{s.transportation_id.capacity}} Passangers</h5>
				  		</div>
				  	</div>
			  	</div>
			  </div>
			</div>

			{% endfor %}

			

		</div>
		<div class="col-5">
			<h4 class="section-heading">Detail Harga</h4>
    		<!-- <hr class="light my-8"> -->

	    	<div class="card" style="width: 100%;">
			  	<div style="font-size: 20px;" class="mt-3 ml-4">
			  		Keberangkatan
			  	</div>
			  	<hr class="light my-8">
			  	<div class="ml-4">
				  	<h5 class="mt-3">
				  		Lion Air (SUB - SRI)
				  	</h5>
				</div>
			    <div class="card-body" >
				  	<div class="row">
				  		<div class="col-6" style="font-size: 16px;">
				  			Dewasa x 1
				  		</div>
				  		<div class="col-6" align="right">
				  			IDR 684.000
				  		</div>

				  		<div class="col-6">
				  			Asuransi Jiwa
				  		</div>
				  		<div class="col-6" align="right">
				  			IDR 0
				  		</div>

				  		<div class="col-6">
				  			Layanan
				  		</div>
				  		<div class="col-6" align="right" style="color: blue;">
				  			GRATIS
				  		</div>
				  	</div>
					<hr class="light my-8">
					<div class="row">
						<div class="col-6">
							<div style="font-size: 18px; font-weight: bold;">Total Pembayaran</div>
						</div>
						<div class="col-6" align="right">
							<div style="color: orange; font-size: 18px; font-weight: bold;">IDR 684.000</div>
						</div>
					</div>
			    </div>

			</div>
		</div>
	</div>
</section>
{% endblock %}